<div class="resource flex-group-center">
    <label class="resource-label">Razza</label>
    <input type="text" name="system.details.race.value" value="{{system.details.race.value}}" placeholder="Razza" />
</div>
<div class="resource flex-group-center">
    <label class="resource-label">Ruolo</label>
    <input type="text" name="system.details.role.value" value="{{system.details.role.value}}" placeholder="Ruolo" />
</div>
<div class="resource flex-group-center">
    <label class="resource-label">Punti Avventura</label>
    <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}" data-dtype="Number" />
</div>
</div>

<div class="resources grid grid-4col">
    <div class="resource flex-group-center">
        <label for="system.resources.hp.value" class="resource-label">Punti Ferita</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.resources.hp.value" value="{{system.resources.hp.value}}"
                data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.resources.hp.max" value="{{system.resources.hp.max}}" data-dtype="Number" />
        </div>
    </div>

    <div class="resource flex-group-center">
        <label for="system.resources.mana.value" class="resource-label">Punti Magia</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.resources.mana.value" value="{{system.resources.mana.value}}"
                data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.resources.mana.max" value="{{system.resources.mana.max}}"
                data-dtype="Number" />
        </div>
    </div>

    <div class="resource flex-group-center">
        <label for="system.resources.torches.value" class="resource-label">Torce</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.resources.torches.value" value="{{system.resources.torches.value}}"
                data-dtype="Number" />
        </div>
    </div>

    <div class="resource flex-group-center">
        <label for="system.resources.rations.value" class="resource-label">Razioni</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.resources.rations.value" value="{{system.resources.rations.value}}"
                data-dtype="Number" />
        </div>
    </div>
</div>
</div>
</header>

<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributi</a>
    <a class="item" data-tab="combat">Combattimento</a>
    <a class="item" data-tab="items">Equipaggiamento</a>
    <a class="item" data-tab="description">Descrizione & Note</a>
</nav>

<section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class="grid grid-2col">
            {{#each system.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
                <label for="system.attributes.{{key}}.value" class="resource-label rollable"
                    data-roll="d10+@attributes.{{key}}.value"
                    data-label="{{attribute.label}}">{{attribute.label}}</label>
                <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
                    data-dtype="Number" />
                <label class="checkbox-label">
                    Pregio
                    <input type="checkbox" name="system.attributes.{{key}}.pregio" {{checked attribute.pregio}} />
                </label>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="tab combat" data-group="primary" data-tab="combat">
        <div class="combat-actions grid grid-3col">
            <button class="rollable combat-btn" data-action="attack-melee">Attacco (Mischia)</button>
            <button class="rollable combat-btn" data-action="attack-ranged">Attacco (Distanza)</button>
            <button class="rollable combat-btn" data-action="dodge">Schivata / Parata</button>
        </div>

        <div class="armor-section">
            owner=owner
            editable=editable
            }}
        </div>
</section>
</form>