<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <div class="flexrow flex-center">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                    width="100" />
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nome" /></h1>
            </div>
            <div class="resources grid grid-3col">
                <label class="resource-label">Razza</label>
                <input type="text" name="system.details.race.value" value="{{system.details.race.value}}"
                    placeholder="Razza" />
            </div>
            <div class="resource flex-group-center">
                <label class="resource-label">Ruolo</label>
                <input type="text" name="system.details.role.value" value="{{system.details.role.value}}"
                    placeholder="Ruolo" />
            </div>
            <div class="resource flex-group-center">
                <label class="resource-label">Punti Avventura</label>
                <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}"
                    data-dtype="Number" />
            </div>
        </div>

        <div class="resources grid grid-4col">
            <div class="resource flex-group-center">
                <label for="system.resources.hp.value" class="resource-label">Punti Ferita</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.resources.hp.value" value="{{system.resources.hp.value}}"
                        data-dtype="Number" />
                    <span> / </span>
                    <input type="text" name="system.resources.hp.max" value="{{system.resources.hp.max}}"
                        data-dtype="Number" />
                </div>
            </div>

            <div class="resource flex-group-center">
                <label for="system.resources.mana.value" class="resource-label">Punti Magia</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.resources.mana.value" value="{{system.resources.mana.value}}"
                        data-dtype="Number" />
                    <span> / </span>
                    <input type="text" name="system.resources.mana.max" value="{{system.resources.mana.max}}"
                        data-dtype="Number" />
                </div>
            </div>

            <div class="resource flex-group-center">
                <label for="system.resources.torches.value" class="resource-label">Torce</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.resources.torches.value" value="{{system.resources.torches.value}}"
                        data-dtype="Number" />
                </div>
            </div>

            <div class="resource flex-group-center">
                <label for="system.resources.rations.value" class="resource-label">Razioni</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.resources.rations.value" value="{{system.resources.rations.value}}"
                        data-dtype="Number" />
                </div>
                <form class="{{cssClass}}" autocomplete="off">
                    <header class="sheet-header">
                        <div class="header-fields">
                            <div class="flexrow flex-center">
                                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
                                    height="100" width="100" />
                                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                                        placeholder="Nome" /></h1>
                            </div>
                            <div class="resources grid grid-3col">
                                <label class="resource-label">Razza</label>
                                <input type="text" name="system.details.race.value"
                                    value="{{system.details.race.value}}" placeholder="Razza" />
                            </div>
                            <div class="resource flex-group-center">
                                <label class="resource-label">Ruolo</label>
                                <input type="text" name="system.details.role.value"
                                    value="{{system.details.role.value}}" placeholder="Ruolo" />
                            </div>
                            <div class="resource flex-group-center">
                                <label class="resource-label">Punti Avventura</label>
                                <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}"
                                    data-dtype="Number" />
                            </div>
                        </div>

                        <div class="resources grid grid-4col">
                            <div class="resource flex-group-center">
                                <label for="system.resources.hp.value" class="resource-label">Punti Ferita</label>
                                <div class="resource-content flexrow flex-center flex-between">
                                    <input type="text" name="system.resources.hp.value"
                                        value="{{system.resources.hp.value}}" data-dtype="Number" />
                                    <span> / </span>
                                    <input type="text" name="system.resources.hp.max"
                                        value="{{system.resources.hp.max}}" data-dtype="Number" />
                                </div>
                            </div>

                            <div class="resource flex-group-center">
                                <label for="system.resources.mana.value" class="resource-label">Punti Magia</label>
                                <div class="resource-content flexrow flex-center flex-between">
                                    <input type="text" name="system.resources.mana.value"
                                        value="{{system.resources.mana.value}}" data-dtype="Number" />
                                    <span> / </span>
                                    <input type="text" name="system.resources.mana.max"
                                        value="{{system.resources.mana.max}}" data-dtype="Number" />
                                </div>
                            </div>

                            <div class="resource flex-group-center">
                                <label for="system.resources.torches.value" class="resource-label">Torce</label>
                                <div class="resource-content flexrow flex-center flex-between">
                                    <input type="text" name="system.resources.torches.value"
                                        value="{{system.resources.torches.value}}" data-dtype="Number" />
                                </div>
                            </div>

                            <div class="resource flex-group-center">
                                <label for="system.resources.rations.value" class="resource-label">Razioni</label>
                                <div class="resource-content flexrow flex-center flex-between">
                                    <input type="text" name="system.resources.rations.value"
                                        value="{{system.resources.rations.value}}" data-dtype="Number" />
                                </div>
                            </div>
                        </div>
            </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="sheet-background">
            <!-- HEADER -->
            <header class="sheet-header">
                <div class="header-top">
                    <div class="header-row">
                        <span class="static-text">SONO</span>
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Nome"
                            class="handwritten-input name-input" />
                        <span class="static-text">UN</span>
                        <input type="text" name="system.details.race.value" value="{{system.details.race.value}}"
                            placeholder="Razza" class="handwritten-input race-input" />
                        <input type="text" name="system.details.role.value" value="{{system.details.role.value}}"
                            placeholder="Ruolo" class="handwritten-input role-input" />
                    </div>
                    <div class="header-row">
                        <span class="static-text">PREGIO</span>
                        <input type="text" name="system.details.pregio.value" value="{{system.details.pregio.value}}"
                            placeholder="Descrivi il tuo pregio..." class="handwritten-input pregio-input" />
                    </div>
                </div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </header>

            <!-- MAIN CONTENT GRID -->
            <div class="main-content">
                <!-- LEFT COLUMN: ATTRIBUTES -->
                <div class="attributes-column">
                    <h3 class="section-title">CARATTERISTICHE</h3>
                    <div class="attributes-list">
                        {{#each system.attributes as |attribute key|}}
                        <div class="attribute-row">
                            <label for="system.attributes.{{key}}.value" class="attribute-label rollable"
                                data-roll="d10+@attributes.{{key}}.value" data-label="{{attribute.label}}">
                                {{attribute.label}}
                            </label>
                            <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
                                data-dtype="Number" class="attribute-value" />
                            <input type="checkbox" name="system.attributes.{{key}}.pregio" {{checked attribute.pregio}}
                                title="Pregio (Ritira 1)" class="attribute-checkbox" />
                        </div>
                        {{/each}}
                    </div>
                </div>

                <!-- RIGHT COLUMN: RESOURCES -->
                <div class="resources-column">
                    <div class="resource-hex-container">
                        <!-- ARMOR -->
                        <div class="resource-item armor">
                            <i class="fas fa-shield-alt resource-icon"></i>
                            <input type="text" name="system.attributes.armor.value"
                                value="{{system.attributes.armor.value}}" data-dtype="Number"
                                class="resource-value-large" />
                            <span class="resource-label-bottom">ARMATURA</span>
                        </div>
                        <!-- HP -->
                        <div class="resource-item hp">
                            <i class="fas fa-tint resource-icon"></i>
                            <div class="resource-inputs">
                                <input type="text" name="system.resources.hp.value"
                                    value="{{system.resources.hp.value}}" data-dtype="Number" />
                                <span class="sep">/</span>
                                <input type="text" name="system.resources.hp.max" value="{{system.resources.hp.max}}"
                                    data-dtype="Number" />
                            </div>
                            <span class="resource-label-bottom">SALUTE</span>
                        </div>
                        <!-- MANA -->
                        <div class="resource-item mana">
                            <i class="fas fa-circle resource-icon"></i>
                            <div class="resource-inputs">
                                <input type="text" name="system.resources.mana.value"
                                    value="{{system.resources.mana.value}}" data-dtype="Number" />
                                <span class="sep">/</span>
                                <input type="text" name="system.resources.mana.max"
                                    value="{{system.resources.mana.max}}" data-dtype="Number" />
                            </div>
                            <span class="resource-label-bottom">MANA</span>
                        </div>
                    </div>

                    <div class="secondary-resources">
                        <div class="sec-res">
                            <label>Torce</label>
                            <input type="text" name="system.resources.torches.value"
                                value="{{system.resources.torches.value}}" data-dtype="Number" />
                        </div>
                        <div class="sec-res">
                            <label>Razioni</label>
                            <input type="text" name="system.resources.rations.value"
                                value="{{system.resources.rations.value}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- ABILITIES BOXES -->
            <div class="abilities-section">
                <div class="ability-box race-box">
                    <h3 class="box-title">ABILITA' DI RAZZA</h3>
                    <div class="box-content">
                        <ol class="items-list">
                            {{#each raceFeatures as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-name rollable item-roll">
                                    <h4>{{item.name}}</h4>
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="ability-box role-box">
                    <h3 class="box-title">ABILITA' DI RUOLO</h3>
                    <div class="box-content">
                        <ol class="items-list">
                            {{#each roleFeatures as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-name rollable item-roll">
                                    <h4>{{item.name}}</h4>
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>

            <!-- ADVENTURE POINTS & CURRENCY -->
            <div class="middle-bar">
                <div class="xp-box">
                    <label>PUNTI AVVENTURA</label>
                    <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}"
                        data-dtype="Number" />
                </div>
                <div class="currency-box">
                    <label>FIORINI</label>
                    <input type="text" name="system.currency.gp" value="{{system.currency.gp}}" data-dtype="Number" />
                </div>
            </div>

            <!-- EQUIPMENT & NOTES -->
            <div class="bottom-section">
                <h3 class="section-title">EQUIPAGGIAMENTO E NOTE</h3>
                <div class="equipment-list-container">
                    <div class="equipment-header flexrow">
                        <span class="col-name">Nome</span>
                        <span class="col-qty">Q.tà</span>
                        <span class="col-controls">
                            <a class="item-control item-create" title="Create item" data-type="item"><i
                                    class="fas fa-plus"></i></a>
                        </span>
                    </div>
                    <ol class="items-list">
                        {{#each equipment as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                            <h4 class="item-name rollable item-roll">{{item.name}}</h4>
                            <div class="item-qty">{{item.system.quantity.value}}</div>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
                <div class="notes-editor">
                    {{editor system.details.notes.value target="system.details.notes.value" button=true owner=owner
                    editable=editable}}
                </div>
            </div>
        </div>
    </nav>
</form>