<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor
            system.description.value
            target="system.description.value"
            button=true
            owner=owner
            editable=editable
            }}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{#if (eq item.type "weapon")}}
            <div class="resource">
                <label class="resource-label">Danno</label>
                <input type="text" name="system.damage.value" value="{{system.damage.value}}" data-dtype="String" />
            </div>
            <div class="resource">
                <label class="resource-label">Tipo</label>
                <input type="text" name="system.type.value" value="{{system.type.value}}" data-dtype="String" />
            </div>
            {{/if}}

            {{#if (eq item.type "armor")}}
            <div class="resource">
                <label class="resource-label">Valore Armatura</label>
                <input type="text" name="system.value.value" value="{{system.value.value}}" data-dtype="Number" />
            </div>
            {{/if}}

            {{#if (eq item.type "consumable")}}
            <div class="resource">
                <label class="resource-label">Quantità</label>
                <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="Number" />
            </div>
            {{/if}}

            {{#if (eq item.type "skill")}}
            <div class="resource">
                <label class="resource-label">Livello</label>
                <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label class="resource-label">Pregio</label>
                <input type="checkbox" name="system.pregio.value" {{checked system.pregio.value}} />
            </div>
            {{/if}}

            {{#if (eq item.type "spell")}}
            <div class="resource">
                <label class="resource-label">Costo (Mana)</label>
                <input type="text" name="system.cost.value" value="{{system.cost.value}}" data-dtype="Number" />
            </div>
            {{/if}}
        </div>
    </section>
</form>